{%
  set display = displayButton ? '' : 'd-none'
%}

<button type="button" class="back-to-top btn btn-primary rounded-circle {{ display }}" id="btn-back-to-top" aria-hidden="true">
	<i class="fas fa-{{ iconType }}"></i>
</button>
