{# <div class="landing-modaal">
	<div id="modaal-ack-country" class="d-none">
		<div class="container d-flex flex-column">
			<div class="row justify-content-center my-auto popup-info-container">
				<div class="d-flex col-md-12 warning-message px-0 px-lg-5 text-center flex-column mt-md-6">
					<div class="text-center col-md-8 mx-auto">
						<h2 class="font-weight-bold">Acknowledgement of Country</h2>
						<p>Our work is on the land of the Ngunnawal People, Ngunnawal Country. We pay our respects to their Elders – past, present and emerging.
						</p>
					</div>
				</div>
			</div>

			<div class="row d-flex justify-content-center justify-content-md-end ml-4 mt-4">
				<a href="#" class="arrow-link btn btn-primary modaal-close">
					Enter site
					<i class="fal fa-arrow-alt-right"></i>
				</a>
			</div>
		</div>
	</div>
</div> #}


<!-- Modal -->
<div id="exampleModal" class="modal modal-xl" aria-labelledby="exampleModalToggleLabel" aria-describedby="Modal Description" tabindex="-1">
<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalToggleLabel">Seems like you are coming from </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
