// Global
$clr-bg: $palette-white;
$clr-text: $palette-black;
$clr-text-inverse: $palette-white;

// Button
$clr-btn-focus: $palette-bon-jour;
$clr-btn-primary: $palette-eastern-blue;
$clr-btn-secondary: $palette-keppel;

// Links
$clr-global-links: $palette-eastern-blue;

// CTA
$clr-cta-bg: $palette-bon-jour;

// Banner
$clr-banner-bg: $palette-bon-jour;

// Modals
$clr-modal-bg: $palette-firefly;

// Footer
$clr-footer-bg: $palette-bon-jour;

// Branding
$clr-branding-text: $palette-firefly;

// Blockquote
$clr-blockquote-bg: $palette-bon-jour;

// Borders
$clr-borders: $palette-silver;
$clr-blockquote-border: $palette-eastern-blue;
